$green: #4cc93f;
$icon-base-size: 20px;

.icon {
	font-size: $icon-base-size;
	border-radius: 50%;
	border: 2px solid lighten($green, 20%);
	background-color: transparent;

	overflow: hidden;
	transform-origin: center;
	animation: showSuccess 180ms ease-in-out;
	transform: scale(1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.iconTip {
	animation: tipInPlace 300ms ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 180ms;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
}

@keyframes showSuccess {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
