.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 14px;
	padding-top: 20px;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 34px;
	@media screen and (max-width: 1024px) {
		gap: 20px;
	}
	@media screen and (max-width: 840px) {
		gap: 12px;
	}
}
.line {
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	width: 1000px;
	@media screen and (min-width: 1920px) {
		width: 1200px;
	}
	@media screen and (max-width: 1024px) {
		width: 800px;
	}
	@media screen and (max-width: 840px) {
		width: 80vw;
	}
}
.navGroup {
	position: relative;
	display: flex;
	align-items: center;
}

.themeButton {
	position: absolute;
	right: -100px;
	height: 32px;
	width: 32px;
	cursor: pointer;
	transition: all 0.1s linear;
	transform: rotate(20deg);
	&:hover {
		transform: scale(1.2) rotate(0deg);
	}

	@media screen and (max-width: 840px) {
		right: -44px;
		height: 24px;
		width: 24px;
	}
	@media screen and (max-width: 440px) {
		right: -30px;
		height: 18px;
		width: 18px;
	}
}
