.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 14px;
	margin-top: 20px;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 34px;
}
.line {
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	height: 1px;
	width: 1540px;
}
.navGroup {
	position: relative;
	display: flex;
	align-items: center;

	button {
		position: absolute;
		right: -100px;
		height: 32px;
		width: 32px;
		cursor: pointer;
		transition: all 0.1s linear;
		transform: rotate(20deg);
		&:hover {
			transform: scale(1.2) rotate(0deg);
		}
	}
}
