.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 14px;
	margin-top: 20px;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 34px;
}
.line {
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	height: 1px;
	width: 80vw;
}
