.navButton {
	font-size: 18px;
	font-weight: 300;
	height: 32px;
	width: 140px;
	background-color: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	outline: none;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 1920px) {
		height: 42px;
		width: 168px;
		font-size: 22px;
	}

	@media screen and (max-width: 840px) {
		height: 34px;
		width: 74px;
		font-size: 14px;
	}

	@media screen and (max-width: 440px) {
		height: 28px;
		width: 64px;
		font-size: 12px;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
	:active {
		background-color: rgba(255, 255, 255, 0.2);
	}
}
.active {
	background-color: transparent;
	outline: 1px solid currentColor;
}
