.section {
	background-color: rgba(217, 217, 217, 0.2);
	display: flex;
	flex-direction: column;

	ul {
		list-style: none;

		flex-grow: 1;
	}
	li {
		margin: 8px 0px 8px 0px;
		&::before {
			content: '';
			display: inline-block;
			width: 22px;
			height: 22px;
			background: url('../../../assets/images/nextArrow.svg');
			background-size: contain;
			margin-right: 10px;
			text-align: center;
			vertical-align: bottom;
		}
	}

	p {
		margin-top: 6px;
		&::before {
			content: '';
			display: inline-block;
			width: 14px;
			height: 14px;
			background: url('../../../assets/images/nextArrow.svg');
			background-size: contain;
			margin-right: 10px;
			text-align: center;
			vertical-align: middle;
		}
	}
}

.title {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-top: 6px;

	h4 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-color: rgba(217, 217, 217, 0.8);
		border-radius: 0px 4px 4px 0px;
		padding: 8px;
	}
}
