.contactWrapper {
	width: 1000px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 40px;
	font-weight: 300;
	padding: 20px;
	@media screen and (min-width: 1920px) {
		width: 1200px;
	}
	@media screen and (max-width: 1024px) {
		width: 800px;
	}
	@media screen and (max-width: 840px) {
		flex-direction: column-reverse;
		width: 100vw;
	}
	@media screen and (max-width: 600px) {
	}
}

.rightSideBlock {
	background-color: rgba(217, 217, 217, 0.2);
	border-radius: 8px;
	height: 100%;
	width: 100%;
	padding: 32px 36px 36px 36px;

	form {
		display: flex;
		flex-direction: column;
		gap: 60px;

		textArea {
			all: unset;

			height: 120px;
			width: auto;
			resize: none;

			border: 1px solid currentColor;
			border-radius: 8px;
			padding: 8px;
			overflow-y: auto;
			overflow-x: hidden;
			word-wrap: break-word;
			@media screen and (min-width: 1920px) {
				height: 240px;
			}

			&::placeholder {
				opacity: 76%;
				color: currentColor;
			}
		}

		input {
			border-bottom: 1px solid currentColor;
			width: 100%;
			padding: 4px 8px 4px 8px;
			@media screen and (max-width: 600px) {
				width: auto;
			}
			&::placeholder {
				opacity: 76%;
				color: currentColor;
			}
		}

		input[type='number']::-webkit-outer-spin-button,
		input[type='number']::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus {
			-webkit-text-fill-color: #e3e3e3 !important;
			-webkit-box-shadow: 0 0 0px 1000px rgba(0, 57, 57, 0.895) inset !important;
			border-radius: 4px;
		}
	}
	button {
		margin-top: -40px;
		display: flex;
		height: 40px;

		transition: all 0.2s ease;

		width: min-content;
		gap: 8px;
	}
}

.inputGroup {
	display: flex;
	flex-direction: row;
	gap: 80px;
	@media screen and (max-width: 600px) {
		flex-direction: column;
		width: auto;
	}
}

.leftSideBlock {
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media screen and (max-width: 840px) {
		width: 100%;
	}
}

.contactItem {
	font-weight: 300;
	height: 54px;
	width: 300px;
	background-color: rgba(217, 217, 217, 0.2);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 24px 10px 10px;

	a {
		height: 32px;
		width: 32px;
		cursor: pointer;
	}
	@media screen and (min-width: 1920px) {
		height: 64px;
		width: 340px;
	}
	@media screen and (max-width: 1024px) {
		height: 60px;
		width: 280px;
	}
	@media screen and (max-width: 840px) {
	}
	@media screen and (max-width: 600px) {
	}
}

.icon {
	transition: all 0.1s ease;
	width: 100%;
	height: 100%;
	stroke-width: 1px;

	&:hover {
		stroke-width: 2px;
		transform: scale(1.2);
	}
}

.contactItems {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.image {
	height: 100%;
	width: 100%;
}

.socialIcons {
	background-color: rgba(217, 217, 217, 0.2);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	height: 54px;
	transition: all 0.2 ease;
	gap: 12px;
	padding: 8px;

	a {
		transition: all 0.2s ease;
		width: 100%;
		height: 100%;
		&:hover {
			transform: translateY(-6px);
		}
	}
	@media screen and (min-width: 1920px) {
		height: 64px;
		width: max-content;
	}
}

.socialItems {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	gap: 10px;
}

.rightSideBlockTitle {
	text-align: center;
	font-size: 20px;
	padding-bottom: 34px;
}

.buttonTextContent {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}
.buttonIcon {
	min-height: 40px;
	min-width: 40px;
	max-width: 40px;
	max-height: 40px;
	stroke-width: 1px;
}

.buttonTextContentHidden {
	width: 0%;
	overflow: hidden;
}

.buttonTextContentVisible {
	width: 100%;
	overflow: hidden;
}

.loader {
	width: 34px;
	height: 34px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #42b16b 94%, #0000) top/8px 8px
			no-repeat,
		conic-gradient(#0000 30%, #42b16b);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
	animation: l13 1s infinite linear;
}
@keyframes l13 {
	100% {
		transform: rotate(1turn);
	}
}
.loadingText {
	display: flex;
	align-items: center;
	justify-content: center;
}
