.firstGroup {
	display: flex;
	flex-direction: column;
	gap: 30px;
	height: 100%;
	width: 50%;
	justify-content: space-between;
}

.secondGroup {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	align-items: stretch;
}
.mainContent {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 1000px;
	height: 100%;
	padding: 20px;
	gap: 30px;
	font-size: 18px;
	font-weight: 200;
	justify-content: center;
	white-space: pre-line;

	ul {
		list-style: none;
	}

	li::before {
		content: '';
		display: inline-block;
		width: 22px;
		height: 22px;
		background: url('../../../assets/images/nextArrow.svg');
		background-size: contain;
		margin-right: 10px;
		text-align: center;
	}
}

.one {
	width: auto;
	height: 100%;
	background-color: rgba(217, 217, 217, 0.2);
	padding: 40px;
	border-radius: 8px;
}

.two {
	width: auto;
	height: 100%;
	background-color: rgba(217, 217, 217, 0.2);
	padding: 40px;
	border-radius: 8px;
}

.tree {
	width: 50%;
	height: 100%;
	background-color: rgba(217, 217, 217, 0.2);
	padding: 40px;
	border-radius: 8px;
}

.four {
	width: auto;
	height: auto;
	background-color: rgba(217, 217, 217, 0.2);
	padding: 40px;
	border-radius: 8px;
}
